<form [formGroup]="compareForm">

	<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					<mat-icon>local_gas_station</mat-icon>
				</mat-panel-title>
				<mat-panel-description>
					Compare two types fuel
				</mat-panel-description>
			</mat-expansion-panel-header>
			
			<mat-form-field class="full-width">
				<mat-select placeholder="Type 1">
					<mat-option *ngFor="let typeFuel of typeFuels" formControlName="type1" [value]="typeFuel.id">
						{{ typeFuel.type }}
					</mat-option>
				</mat-select>
			</mat-form-field>
			
			<mat-form-field class="full-width">
				<input matInput placeholder="Price 1" class="" formControlName="price1">
				<span matPrefix class="">$&nbsp;</span>
			</mat-form-field>
			
			<mat-form-field class="full-width">
				<mat-select placeholder="Type 2">
					<mat-option *ngFor="let typeFuel of typeFuels" formControlName="type1" [value]="typeFuel.id">
						{{ typeFuel.type }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field class="full-width">
				<input matInput placeholder="Price 2" class="" formControlName="price2">
				<span matPrefix class="">$&nbsp;</span>
			</mat-form-field>
			
			<p *ngIf="valueTotal">Fuel {{ type2 }} has a difference of {{ valueTotal }}% of fuel {{ type1 }}</p>

			<button [disabled]="loading" mat-raised-button color="primary" (click)="compare()">Compare</button>
			<!-- <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="> -->

		</mat-expansion-panel>
	</mat-accordion>
</form>