<form [formGroup]="supplyForm" (ngSubmit)="onSubmit()">
	<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					<mat-icon>local_gas_station</mat-icon>
				</mat-panel-title>
				<mat-panel-description>
					Type it price, liters, chose type fuel and save
				</mat-panel-description>
			</mat-expansion-panel-header>

			<mat-form-field class="full-width">
				<input matInput placeholder="Amount" class="car-right-align" formControlName="amount" #amount (change)="insertValueAuto(liters.value, amount.value, price.value)">
				<span matPrefix>$&nbsp;</span>
			</mat-form-field>

			<mat-form-field class="full-width">
				<input matInput placeholder="Price Liter" class="car-right-align" formControlName="price" #price (change)="insertValueAuto(liters.value, amount.value, price.value)">
				<span matPrefix>$&nbsp;</span>
				<span matSuffix></span>
			</mat-form-field>

			<mat-form-field class="full-width">
				<input matInput placeholder="Liters" formControlName="liters" #liters (change)="insertValueAuto(liters.value, amount.value, price.value)">
				<span matSuffix>L</span>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-select placeholder="Type" formControlName="type">
					<mat-option value="gasoline">Gasoline</mat-option>
					<mat-option value="alcohol">Alcohol</mat-option>
					<mat-option value="diesel">Diesel</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field class="full-width">
				<input matInput [matDatepicker]="dp3" placeholder="Input disabled" formControlName="dateSupply">
				<mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
				<mat-datepicker #dp3 disabled="false"></mat-datepicker>
			</mat-form-field>
			
			<button mat-raised-button color="primary" >Save supply</button>
			<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
		</mat-expansion-panel>
	</mat-accordion>
</form>