<form [formGroup]="amountForm">
	<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					<mat-icon>attach_money</mat-icon>
				</mat-panel-title>
				<mat-panel-description>
					Amount spent in the period
				</mat-panel-description>
			</mat-expansion-panel-header>
			
			<mat-form-field class="full-width">
				<input matInput [matDatepicker]="dp3" placeholder="Date Start" formControlName="dateSupplyStart">
				<mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
				<mat-datepicker #dp3 disabled="false"></mat-datepicker>
			</mat-form-field>
			
			<mat-form-field class="full-width">
				<input matInput [matDatepicker]="dp2" placeholder="Date Emd" formControlName="dateSupplyEnd">
				<mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
				<mat-datepicker #dp2 disabled="false"></mat-datepicker>
			</mat-form-field>

			<mat-form-field class="full-width">
				<input matInput placeholder="Amount" class="car-right-align valueAmount" formControlName="amount">
				<span matPrefix class="">$&nbsp;</span>
			</mat-form-field>

			<button mat-raised-button color="primary" (click)="filterExpenses()">Filter expenses</button>

		</mat-expansion-panel>
	</mat-accordion>
</form>