<!-- <div class="container">
	<div class="row">
		<div class="col-12">
			<div class="pos-f-t">
				<div class="collapse navbar-collapse" id="navbarToggleExternalContent">
					<div class="bg-light p-4">
						<h5> {{ title }}</h5>
						<ul class="navbar-nav">
							<li *ngIf="!isLogged; else logged" class="nav-item">
								<a class="nav-link" href="/login">Login</a>
								<a class="nav-link" routerLink="/register">Register</a>
							</li>
							<ng-template #logged>
								<li class="nav-item active">
									<a class="nav-link" href="/dashboard">Dashboard</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" routerLink="/profile">Profile</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" (click)="logout()" routerLink="">Logout</a>
								</li>
							</ng-template>
							<li class="nav-item">
								<a class="nav-link" routerLink="/about">About</a>
								<a class="nav-link" routerLink="/contact">Contact</a>
							</li>
						</ul>
					</div>
				</div>
				<nav class="navbar navbar-light bg-light">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
					 aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</nav>
			</div>
		</div>
	</div>
</div> -->
<div>
	
	<mat-toolbar color="primary">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<button mat-icon-button [mat-menu-trigger-for]="menu">
						<mat-icon>local_gas_station</mat-icon>
					</button>
					<span>{{ title }}</span>
				</div>
			</div>
		</div>
	</mat-toolbar>
	
	<mat-menu x-position="before" #menu="matMenu">
		<div *ngIf="!isLogged; else logged">
			<button mat-menu-item routerLink="/login">Login</button>
			<button mat-menu-item routerLink="/register">Register</button>
		</div>
		<ng-template #logged>
			<button mat-menu-item routerLink="/dashboard">Dashboard</button>
			<button mat-menu-item routerLink="/profile">Profile</button>
			<button mat-menu-item (click)="logout()">Logout</button>
		</ng-template>
		<button mat-menu-item routerLink="/about">About</button>
		<button mat-menu-item routerLink="/contact">Contact</button>
	</mat-menu>
	
</div>
<router-outlet></router-outlet>