<div class="container">
	<div class="row">
		<div class="col-12">			
			<mat-card class="dashboard-card">
				<mat-card-title>Options Controls Car</mat-card-title>
				<mat-card-header>	
					<img mat-card-avatar src='https://material.angular.io/assets/img/examples/shiba1.jpg'>
					<mat-card-title>{{ model }}</mat-card-title>
					<mat-card-subtitle>{{ manufacturer }}</mat-card-subtitle>
				</mat-card-header>

				<app-amount-control></app-amount-control>
				<br />
				<app-supply></app-supply>
				<!-- https://material.io/tools/icons/?icon=attach_money&style=baseline -->

				<mat-card-actions>
					<button mat-raised-button (click)="goBack()">Back</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>