<div class="container">
	<div class="row">
		<div class="col-12">
			<p>
				Your profile, {{ user.name }}!
				<button (click)='showUser()'>Teste</button>
			</p>
			<!-- <h4>{{ user2.dataset.user.name }}</h4> -->
			<!-- <img src="{{ user.profile_picture }}" alt="..." class="img-thumbnail"> -->
		</div>

		<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
			<div class="form-row">
				<div class="col-md-3 mb-3">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" placeholder="Name" placeholder="Name" formControlName="name" class="form-control"
					 [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required value="{{ user.name }}">
		
					<div *ngIf="submitted && f.name.errors" class="invalid-feedback">
						<div *ngIf="f.name.errors.required">Name is required</div>
					</div>
				</div>
		
				<div class="col-md-3 mb-3">
					<label for="username">Username</label>
					<div class="input-group">
						<input type="text" class="form-control" id="username" placeholder="Username" aria-describedby="inputGroupPrepend" formControlName="username"
						 class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required value="{{ user.username }}">
					</div>
					<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
						<div *ngIf="f.username.errors.required">Username is required</div>
					</div>
				</div>
		
				<div class="col-md-3 mb-3">
					<label for="email">Email</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroupPrepend">@</span>
						</div>
						<input type="text" class="form-control" id="email" placeholder="E-mail" aria-describedby="inputGroupPrepend" formControlName="email"
						 class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required value="{{ user.email }}">
						<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
							<div *ngIf="f.email.errors.required">E-mail is required</div>
						</div>
					</div>
				</div>
		
				<div class="col-md-3 mb-3">
					<label for="password">Password</label>
					<input type="password" id="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
					<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
						<div *ngIf="f.password.errors.required">Password is required</div>
					</div>
				</div>
			</div>
		
			<div class="form-row">
		
				<div class="col-md-3 mb-3">
		
					<label for="zipcode">Zipcode</label>
					<input type="text" id="zipcode" formControlName="zipcode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }"
					 #zipcodeInput placeholder="Zip Code" required (change)="seacrchAddress(zipcodeInput.value)">
					<div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
						<div *ngIf="f.zipcode.errors.required">Password is required</div>
					</div>
				</div>
		
				<div class="col-md-3 mb-3">
					<label for="street">street</label>
					<input type="text" id="street" formControlName="street" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.street.errors }"
					 placeholder="Street">
				</div>
		
				<div class="col-md-2 mb-3">
					<label for="country">Country</label>
					<input type="text" class="form-control" id="country" placeholder="country" formControlName="country" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
				</div>
		
				<div class="col-md-1 mb-3">
					<label for="state">State</label>
					<input type="text" class="form-control" id="state" placeholder="State" formControlName="state" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
				</div>
		
				<div class="col-md-3 mb-3">
					<label for="city">City</label>
					<input type="text" class="form-control" id="city" placeholder="City" formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-3 mb-3">
					<label for="code">Code</label>
					<input type="number" class="form-control" id="code" placeholder="Phone" formControlName="code" [ngClass]="{ 'is-invalid': submitted && f.code.errors }">
				</div>
				<div class="col-md-3 mb-3">
					<label for="phone">Phone</label>
					<input type="number" class="form-control" id="phone" placeholder="Phone" length='3' formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
				</div>
		
			</div>
			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="invalidCheck">
					<label class="form-check-label" for="invalidCheck">
						Agree to terms and conditions
					</label>
				</div>
			</div>
			<div class="form-group">
				<button [disabled]="loading" class="btn btn-primary">Register</button>
				<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
				/>
			</div>
			<div *ngIf="error" class="alert alert-danger">{{error}}</div>
		</form>
	</div>
</div>