<div class="container">
	<div class="row">
		<div class="col-12">
            <h1>Home</h1>
            <div *ngIf="user; else default">
                <p>Welcome {{ user.name }}</p>
            </div>
            <ng-template #default>
                <p>Log in to see the options</p>
            </ng-template>

            <div class="row">
                <div class="col-12">
                    <div>
                        <h4>My cars</h4>                        
                        <div class="list-group">
                            <ul class="list-group-item list-group-item-action" (click)="getInfoCar(1)">Civic</ul>
                            <ul class="list-group-item list-group-item-action" (click)="getInfoCar(2)">City</ul>
                            <ul class="list-group-item list-group-item-action" (click)="getInfoCar(3)">HB-20</ul>
                            <ul class="list-group-item list-group-item-action" (click)="getInfoCar(4)">Onix</ul>
                            <ul class="list-group-item list-group-item-action" (click)="getInfoCar(5)">Tucson</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>